{% extends 'base_layout.html' %}
{% load staticfiles %}
{% block content %}
<div class="hide-on-large-only navbar" style="padding: 15px 0; background-color: #191917 ">
  <div class="row container" style="margin-bottom:0;">
    <div class="col s4 m6">
      <a href="#" class="sidenav-trigger hide-on-large-only btn center transparent z-depth-4" data-target="mobile-menu">
        <i class="material-icons white-text" style="font-size: 40px; text-shadow: 3px 5px 3px rgba(0, 0, 0, 0); ">menu</i>
      </a>
    </div>
    <div class="col s8 m6 right white-text" style="text-align: right !important;">
      <span style="font-size:1.65em;">Cezary Czemerda</span>
    </div>
  </div>
</div>

<div id="about" class="title about-box"">
  <div class="content-padding">
    <h4>ABOUT ME</h4>
    <hr>
    <strong class="justify-small">
      <p>My name is Cezary Czemerda,</p>
      <p>and currently I'm looking for a job as <strong><b>back-end web developer</b></strong>,
        in which I will be able to perform challenging tasks related with <span class="green-text text-darken-2"><b>Django</b></span> and
        <span class="blue-text text-darken-1"><b>Python</b></span>. </p>
        <p>My current toolset also includes technologies like:</p>

      <div class="row paragraph">
        <div class="center logos" >
          <div class="col l4 m4 s4"><img class="responsive-img padding-bottom" src="{% static 'logo-django.jpg' %}"></div>
          <div class="col l4 m4 s4"><img class="responsive-img padding-bottom" src="{% static 'logo-python.jpg' %}"></div>
          <div class="col l4 m4 s4"><img class="responsive-img padding-bottom" src="{% static 'logo-materialize.jpg' %}"></div>
          <div class="col l4 m4 s4"><img class="responsive-img padding-bottom" src="{% static 'logo-html.jpg' %}"></div>
          <div class="col l4 m4 s4"><img class="responsive-img padding-bottom" src="{% static 'logo-css.jpg' %}"></div>
          <div class="col l4 m4 s4"><img class="responsive-img padding-bottom" src="{% static 'logo-mysql.jpg' %}"></div>
        </div>
        </div>

        <p>With my abilities and educational background I am able to solve problems by myself and also with my communicational skills -  in team.</p>
          <p> I am always aware of the fact, that this is the beginning of my career, therefore I'm eager to learn new technologies and improve the ones I know already. </p>
        <p> </p>
        </strong>
      </div>
  </div>



{% endblock %}
